# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.WebApiPuntoVenta.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Erinxon\Desktop\Proyectos\Proyecto_NetCoreWithAngular\WebApiPuntoVenta\.idea\.idea.WebApiPuntoVenta\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
